:root {
  --text-color: white;
  /* --bg-url: url(./assets/assets/bg-mobile.jpg); */
  --stroke-color: rgba(255, 255, 255, 0.4);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color-hover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}

.light {
  --text-color: black;
  /* --bg-url: url(./assets/assets/bg-mobile-light.jpg); */
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.15);
  --highlight-color-hover: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/assets/sun.svg);
}

.light img[alt="dark"] {
  opacity: 0;
}

html:not(.light) img[alt="light"] {
  opacity: 0;
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.5s;
  z-index: -1;
  top: 0;
  left: 0;
}

.light #switch button {
  border: 1px solid var(--stroke-color);
  transform: translateY(-50%) translateX(100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
  border-radius: 50%;
  border: 1px solid var(--text-color);
  transition: border-radius 0.5s ease, transform 0.5s ease;
  transition-delay: 0.05s;
}

#profile img:hover{
  transform: scale(2);
  border-radius: 0%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 0 auto;
  padding: 4px 0;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%) translateX(0%);
  transition: transform 0.225s;
  cursor: pointer;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  padding: 24px 0;
}

ul li a {
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

ul li a:hover {
  background-color: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
  gap: 16px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color-hover);
  padding: 16px;
  border-radius: 50%;
}
